.sd-card-img-top {
    width: 128px;
    height: 128px;
    object-fit: cover;
    margin: 1em auto 0em auto;
    border-radius: 50%;
}

.admonition.note {
    background-color: #EAF5F7;
    border-left: 5px solid #5C9AA3;
}

.admonition.note .admonition-title {
    background-color: #EAF5F7;
    color: #5C9AA3;
}

.admonition.note .fa {
    color: #5C9AA3;
}

.theme-furo .sidebar {
    background-color: #F4FAFB;
}